<!DOCTYPE html>
<html>

<body>

  <div class="container">
    <div class="col-md-12 mx-auto">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th>Company</th>
              <th>Birth</th>
              <th>1 mos</th>
              <th>2 mos</th>
              <th>4 mos</th>
              <th>6 mos</th>
              <th>9 mos</th>
              <th>12 mos</th>
              <th>15 mos</th>
              <th>18 mos</th>
              <th>19-23 mos</th>
              <th>2-3 yrs</th>
              <th>4-6 yrs</th>
              <th>7-10 yrs</th>
              <th>11-12 yrs</th>
              <th>13-15 yrs</th>
              <th>16 yrs</th>
              <th>17-18 yrs</th>
            </tr>

          </thead>

          <tbody>

            <tr *ngFor="let vc of vcData.data">
              <th>{{vc.name}}
                <div>{{vc.short_name}}</div>
              </th>
              <td [attr.class]="getCellData('Birth', vc?.charts)"></td>
              <td [attr.class]="getCellData('1 mos', vc?.charts)"></td>
              <td [attr.class]="getCellData('2 mos', vc?.charts)"></td>
              <td [attr.class]="getCellData('4 mos', vc?.charts)"></td>
              <td [attr.class]="getCellData('6 mos', vc?.charts)"></td>
              <td [attr.class]="getCellData('9 mos', vc?.charts)"></td>
              <td [attr.class]="getCellData('12 mos', vc?.charts)"></td>
              <td [attr.class]="getCellData('15 mos', vc?.charts)"></td>
              <td [attr.class]="getCellData('18 mos', vc?.charts)"></td>
              <td [attr.class]="getCellData('19-23 mos', vc?.charts)"></td>
              <td [attr.class]="getCellData('2-3 yrs', vc?.charts)"></td>
              <td [attr.class]="getCellData('4-6 yrs', vc?.charts)"></td>
              <td [attr.class]="getCellData('7-10 yrs', vc?.charts)"></td>
              <td [attr.class]="getCellData('11-12 yrs', vc?.charts)"></td>
              <td [attr.class]="getCellData('13-15 yrs', vc?.charts)"></td>
              <td [attr.class]="getCellData('16 yrs', vc?.charts)"></td>
              <td [attr.class]="getCellData('17-18 yrs', vc?.charts)"></td>
              <!-- <td *ngFor="let ch of vc.charts" >
                        {{ch.dose}}  
                    </td> -->

            </tr>

          </tbody>
        </table>

      </div>
    </div>
  </div>

</body>

</html>