
  <app-header></app-header> 


  
    <div class="col-md-12 mx-auto" style="margin-top: 85px;">
      <div class="instrctions">
          <div class="row">
              <div class="col-md-3 ">
                  <div class="box dose-taken"></div> DOSE TAKEN
              </div>
              <div class="col-md-3">
                <div class="box dose-overdue"></div> DOSE OVERDUE
              </div>
              <div class="col-md-3">
                <div class="box dose-coming"></div> DOSE COMMING
              </div>

              <div class="col-md-3">
                <div class="box dose-dueOn"></div> DOSE DUE ON 
              </div>

          </div>
      </div>

      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th>Company</th>
              <th>Birth</th>
              <th>1 mos</th>
              <th>2 mos</th>
              <th>4 mos</th>
              <th>6 mos</th>
              <th>9 mos</th>
              <th>12 mos</th>
              <th>15 mos</th>
              <th>18 mos</th>
              <th>19-23 mos</th>
              <th>2-3 yrs</th>
              <th>4-6 yrs</th>
              <th>7-10 yrs</th>
              <th>11-12 yrs</th>
              <th>13-15 yrs</th>
              <th>16 yrs</th>
              <th>17-18 yrs</th>
            </tr>

          </thead>

          <tbody class="table-body">

            <tr *ngFor="let vc of vcData.data let i = index" class="rows">
              <th>{{vc.name}}
                <div>{{vc.short_name}}</div>
              </th>
              <td  [attr.class]="getCellData('Birth', vc?.charts, i, 1)" #lr></td>
              <td  [attr.class]="getCellData('1 mos', vc?.charts, i, 2)"></td>
              <td  [attr.class]="getCellData('2 mos', vc?.charts, i, 3)"></td>
              <td  [attr.class]="getCellData('4 mos', vc?.charts, i, 4)"></td>
              <td  [attr.class]="getCellData('6 mos', vc?.charts, i, 5)"></td>
              <td  [attr.class]="getCellData('9 mos', vc?.charts, i, 6)"></td>
              <td  [attr.class]="getCellData('12 mos', vc?.charts, i, 7)"></td>
              <td  [attr.class]="getCellData('15 mos', vc?.charts, i, 8)"></td>
              <td  [attr.class]="getCellData('18 mos', vc?.charts, i, 9)"></td>
              <td  [attr.class]="getCellData('19-23 mos', vc?.charts, i, 10)"></td>
              <td  [attr.class]="getCellData('2-3 yrs', vc?.charts, i, 11)"></td>
              <td  [attr.class]="getCellData('4-6 yrs', vc?.charts, i, 12)"></td>
              <td  [attr.class]="getCellData('7-10 yrs', vc?.charts, i, 13)"></td>
              <td  [attr.class]="getCellData('11-12 yrs', vc?.charts, i, 14)"></td>
              <td  [attr.class]="getCellData('13-15 yrs', vc?.charts, i, 15)"></td>
              <td  [attr.class]="getCellData('16 yrs', vc?.charts, i, 16)"></td>
              <td  [attr.class]="getCellData('17-18 yrs', vc?.charts, i, 17)"></td>
              <!-- <td *ngFor="let ch of vc.charts" >
                        {{ch.dose}}  
                    </td> -->

            </tr>

          </tbody>
        </table>

      </div>
    </div>
  

  <!-- =========Pop up data======= -->
  <button class="btn btn-lg btn-outline-primary" [hidden]="true"  (click)="open(mymodal)" id="m1" #cmodel>Open My Modal</button>
   
  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add vaccine</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" #closeBtn>
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">

      <p [hidden]= "true" > <span id="hiddenspn">spn</span> </p>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-floating mb-3">
          <input type="date" class="form-control" id="phone" placeholder="Vaccine Date" formControlName="vcdate" >
          <label for="floatingInput">Vaccine Date</label>
          <div *ngIf="isSubmitted && f['vcdate'].invalid" class="errFrm">
            <div *ngIf="f['vcdate'].errors && f['vcdate'].errors['required']">Vaccine date is required.</div>
        </div>
        </div>

        <div class="form-floating mb-3">
          <input type="time" class="form-control" id="phone" placeholder="Vaccine Time" formControlName="vctime" >
          <label for="floatingInput">Vaccine Time</label>

          <div *ngIf="isSubmitted && f['vctime'].invalid" class="errFrm">
            <div *ngIf="f['vctime'].errors && f['vctime'].errors['required']">Vaccine time is required.</div>
        </div>

        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="vclocation" placeholder="Vaccine Location" formControlName="vclocation" >
          <label for="floatingInput">Vaccine Location</label>
          <div *ngIf="isSubmitted && f['vclocation'].invalid" class="errFrm">
            <div *ngIf="f['vclocation'].errors && f['vclocation'].errors['required']">Vaccine location is required.</div>
        </div>

        </div>

        <div class="form-group">
          <input
              formControlName="file"
              id="file"
              type="file"
              class="form-control"
              (change)="onFileChange($event)">
          
          <!-- <img [src]="imageSrc" *ngIf="imageSrc" style="height: 300px; width:500px"> -->
      </div>


        <button class="w-100 btn btn-lg btn-primary" type="submit">
          Add
        </button> 


      </form>
      
      <ng-container *ngIf="errmsg">
        <div class="alert alert-danger" role="alert">
          {{errmsg}}
        </div>
      </ng-container>

      <ng-container *ngIf="successMsg">
        <div class="alert alert-success" role="alert">
          {{successMsg}}
        </div>
      </ng-container>



    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
  </ng-template>
  

<!-- =========Second pop up=========== -->

<button class="btn btn-lg btn-outline-primary" [hidden]="true"  (click)="open(mymodal2)" id="m2"></button>
     <ng-template #mymodal2 let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Vaccine Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" #closeBtn>
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="modal-body">
        <p>Vaccine Name: <span id="vcn">t</span></p>
        <p >Location: <span id="lc">t</span></p>
        <p>Date: <span id="date">t</span> </p>
        <p>Time: <span id="time">t</span></p>
    </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
  </ng-template>

<app-footer></app-footer>

