.schedule-yellow {
    background-color: #ffd204;
}

.schedule-active {
    background-color: green;
    color: #fff;
        font-size: 14px;
}

.check-opt{
    font-size:20px !important;
}

.schedule-gray {
    background-color: #d5d7d8;
   
}


.dose-taken{
    background-color:  #736f65;
    color: #fff;
}

.dose-taken i{
    font-size: 24px;
}

.dose-overdue{
    background-color: #ad1909;
    color: #fff;
}

.dose-coming{
    background-color: #edda09;
}


.dose-dueOn{
    background-color: #09d60c;
    color: #fff;
}


.box{
height: 40px;
    width: 40px;
}

.table {
    border: 0;
}

.table .thead-light th {
    background-color: #4ebaaa;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #000000;
}

.table .thead-light th:not(:first-child),
.table td {
    min-width: 80px;
    text-align: center;
}

.table .thead-light th:first-child,
.table tbody th:first-child {
    position: sticky;
    left: -1px;
    min-width: 395px;
}

.table tbody th:first-child {
    background-color: #fff;
}

.cell.same-row+.same-row{
    display: none;
}

.errFrm{
    color: red;
    text-align: left  !important;
}

.myModal.in{
    z-index: 999999;
}

