<footer class="app-footer text-center">
    <div class="container">
        <div class="row">
           
               <div class="col-md-12 mx-auto text-center">
                <div class="d-md-block d-none">
                    <p class="footer-copyright d-inline-block mb-0">© 2021 Interacshn Vaccine Proof. All Rights Reserved.</p>
                    <!-- <a class="d-inline-block" href="https://www.vaccinesproof.com/privacy-policy.html">
                        Privacy Policy
                        </a> -->
                </div>
                <div class="row d-md-none">
                    <!-- <div class="col-md-4 order-md-last"> <a class="d-inline-block" href="https://www.vaccinesproof.com/privacy-policy.html">
                        Privacy Policy
                        </a>
                    </div> -->
                    <div class="col-md-8 order-md-first"><p class="footer-copyright d-inline-block mb-0">© 2022 Interacshn Vaccine Proof. All Rights Reserved.</p></div>
                   
                </div>
                
               
        </div>

         
         

        </div>
    </div>
</footer>