<div class="container">
  <div class="col-md-5 mx-auto">
    <main class="form-signin text-center">
      <form [formGroup]="form" (ngSubmit)="submit()" class="formaddedit">
        <div class="logo-img">
          <a href="javascript:void(0)">MyDigiRecords</a>
        </div>
        <h1 class="mb-2 mt-4">Sign In</h1>
        <p class="mb-4 fw-normal text-muted">Enter the details to view vaccination records</p>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="phoneEmail" placeholder="Email" formControlName="email">
          <label for="floatingInput">Email</label>

          <div *ngIf="isSubmitted && f['email'].invalid" class="errFrm">
            <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
            <div *ngIf="f['email'].errors && f['email'].errors['required']">Please, enter valid email address.</div>
          </div>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="name" placeholder="Name" formControlName="password">
          <label for="name">Password</label>

          <div *ngIf="isSubmitted && f['password'].invalid" class="errFrm">
            <div *ngIf="f['password'].errors && f['password'].errors['required']">Password is required.</div>
          </div>

        </div>
        <div class="form-floating mb-3 text-end">
          <a [routerLink]="['/recovery/identify']">Forgot password?</a>
        </div>

        <ng-container *ngIf="errmsg">
          <div class="alert alert-danger" role="alert">
            {{errmsg}}
          </div>
        </ng-container>

        <button class="w-100 btn btn-lg btn-primary" type="submit">
          Continue
          <div class="spinner-border form-loader ml-2" role="status" *ngIf="isSubmit"></div>
        </button>

        <p class="mt-2">Don't have an account ? <b><a [routerLink]="['/signup']">Sign up</a></b></p>

      </form>
    </main>
  </div>
</div>