<div class="container">
    <div class="col-md-5 mx-auto">
        <main class="form-signin text-center pb-4">
            
                <div class="logo-img">
                    <a href="javascript:void(0)">MyDigiRecords</a>
                </div>
                <h1 class="mb-2 mt-4">Thank You !</h1>
                <p class="mb-4 fw-normal text-muted">Your email has been verified successfully.</p>
                

                <button class="w-100 btn btn-primary" type="button" (click)="onLogout()" >
                    Login
                </button>

           
        </main>
    </div>
</div>