<div class="container">
  <div class="col-md-8 mx-auto">
    <main class="form-signin  text-center pb-4">
      <form [formGroup]="form" (ngSubmit)="submit()" class="formaddedit">
        <div class="logo-img">
          <a href=""><img class="img-fluid" src="assets/img/logo.jpg" alt=""></a>
        </div>
        <h1 class="mb-2 mt-4">Sign Up</h1>
        <p class="mb-4 fw-normal text-muted">Sign Up to keep track your vaccination records</p>

        <div class="row">
          <div class="col-md-6">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="phone" placeholder="Phone Number" formControlName="phone">
              <label for="floatingInput">Phone Number</label>
    
              <div *ngIf="isSubmitted && f['phone'].invalid" class="errFrm">
                <div *ngIf="f['phone'].errors && f['phone'].errors['required']">Phone is required.</div>
                <div *ngIf="f['phone'].errors && (f['phone'].errors['pattern'] || f['phone'].errors['minlength'])">{{ f['phone'].errors['pattern'] ? 'Please, enter valid phone number': 'Please, enter 10 digit phone number'}}.</div>
              </div>
    
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email">
              <label for="email">Email</label>
              <div *ngIf="isSubmitted && f['email'].invalid" class="errFrm">
                <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
                <div *ngIf="f['email'].errors && f['email'].errors['pattern']">Please, enter valid email address.</div>
              </div>
            </div>
    
           
    
          </div>


          <div class="col-md-6">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="fname" placeholder="Name" formControlName="fname">
              <label for="name">First Name</label>
    
              <div *ngIf="isSubmitted && f['fname'].invalid" class="errFrm">
                <div *ngIf="f['fname'].errors && f['fname'].errors['required']">First name is required.</div>
              </div>
    
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="lname" placeholder="Last name" formControlName="lname">
              <label for="name">Last Name</label>
    
              <div *ngIf="isSubmitted && f['lname'].invalid" class="errFrm">
                <div *ngIf="f['lname'].errors && f['lname'].errors['required']">Last name is required.</div>
              </div>
    
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-floating mb-3">

              <select class="form-control" id="gender" placeholder="Select Gender" formControlName="genderType">
                <option value="">Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
              <label for="gender">Select Gender</label>
    
              <div *ngIf="isSubmitted && f['genderType'].invalid" class="errFrm">
                <div *ngIf="f['genderType'].errors && f['genderType'].errors['required']">Gender is required.</div>
              </div>
    
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-floating mb-3">
              <input type="date" class="form-control" id="dob" placeholder="DOB" formControlName="dob">
              <label for="name">Date of Birth</label>
    
              <div *ngIf="isSubmitted && f['dob'].invalid" class="errFrm">
                <div *ngIf="f['dob'].errors && f['dob'].errors['required']">Date of birth is required.</div>
              </div>
    
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="name" placeholder="Name" formControlName="emgNo">
              <label for="name">Emergency Phone Number</label>
    
              <div *ngIf="isSubmitted && f['emgNo'].invalid" class="errFrm">
                <div *ngIf="f['emgNo'].errors && f['emgNo'].errors['required']">Emergency number is required.</div>
              </div>
    
    
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-floating mb-3">
              <select class="form-control" id="bloodGroup" placeholder="Select Blood Group" formControlName="bloodGroup">
                <option value="A">A</option>
                <option value="AB">AB</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
                <option value="O+">O+</option>
              </select>
              <label for="bloodGroup">Select Blood Group</label>
    
              <div *ngIf="isSubmitted && f['bloodGroup'].invalid" class="errFrm">
                <div *ngIf="f['bloodGroup'].errors && f['bloodGroup'].errors['required']">Blood group is required.</div>
              </div>
    
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="name" placeholder="Name" formControlName="password">
              <label for="name">Password</label>
    
              <div *ngIf="isSubmitted && f['password'].invalid" class="errFrm">
                <div *ngIf="f['password'].errors && f['password'].errors['required']">Password is required.</div>
              </div>
    
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="name" placeholder="Name" formControlName="cpassword">
              <label for="name">Confirm Password</label>
    
              <div *ngIf="isSubmitted && f['cpassword'].invalid" class="errFrm">
                <div *ngIf="f['cpassword'].errors && f['cpassword'].errors['required']">Confirm password is required.</div>
                <div *ngIf="f['cpassword'].errors?.['passwordMismatch']">Password and confirm not match</div>
              </div>
    
            </div>
          </div>
        </div>

      

       

        

       


        

       

       


        

       


        <ng-container *ngIf="emailErr">
          <div class="alert alert-danger" role="alert">
            {{emailErr}}
          </div>
        </ng-container>

        <ng-container *ngIf="passErr1">
          <div class="alert alert-danger" role="alert">
            {{passErr1}}
          </div>
        </ng-container>
        <ng-container *ngIf="passErr2">
          <div class="alert alert-danger" role="alert">
            {{passErr2}}
          </div>
        </ng-container>

        <ng-container *ngIf="successMsg">
          <div class="alert alert-success" role="alert">
            {{successMsg}}
          </div>
        </ng-container>



        <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="isSubmit">
          Continue
          <div class="spinner-border form-loader ml-2" role="status" *ngIf="isSubmit"></div>
        </button>

        <p class="mt-2 mb-0">Already have an account ? <b><a [routerLink]="['/login']">Login</a></b></p>

      </form>
    </main>
  </div>
</div>