<app-header></app-header>

<app-page-loader *ngIf="pageLoader"></app-page-loader>
<div *ngIf="!pageLoader" class="container dashboard-page">
  

        <div class="mem-bg mt-5">
            <div class="row row align-items-center">
                <div class="col-md-8">
                    <h3>Welcome, {{uname}} </h3>
                    <span class="legend"> Default Member </span>
                </div>
                
            </div> 
        </div>



        <main class="form-signin mt-3">

            <div class="dashboard-header">
              <h5 class="text-center py-4" style="margin: 150px 0;" *ngIf="allNotifcations.data.length < 1 && !pageLoader">
                <span class="ico h1 mb-3 d-block"><i class="bi bi-bell"></i></span> No Notifications Available!
              </h5>

                <ul class="list-group text-left list-group-flush" *ngIf="allNotifcations.data.length >= 1 && !pageLoader">
                    <li *ngFor="let notification of allNotifcations.data" class="list-group-item py-3 list-group-item-action flex-column align-items-start">
                        <div class="w-100">
                            <!-- <small>December 12, 2019</small> -->
                            <h5 class="mt-1 mb-2">{{notification.data.title}}</h5>
                            
                        </div>
                        <p class="mb-1"> {{notification.data.body}}
                        </p>
                    </li>

                    
                    
                </ul>
            </div>


            

       
        

        </main>
    </div>





<app-footer></app-footer>